@import "tailwindcss";

:root {
  --swago-teal: 174 72% 56%;
  --swago-purple: 259 81% 64%;
  --swago-orange: 22 91% 64%;
  --swago-pink: 326 91% 64%;
  /* New colors for the hero gradient */
  --swago-yellow: 45 93% 58%;
  --swago-sky-blue: 204 81% 59%;
}